main.homepage {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding-bottom: 3em;
}
.container-homepage-links {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 2px;
  max-width: 768px;
  text-decoration: none;
  text-transform: uppercase;
}

h1 {
  @apply text-5xl;
  line-height: 1;
  @apply text-center;
  @apply mt-8;
  @apply mb-0;
}

p {
  @apply text-base;
  @apply px-1;
  @apply py-2;
}

/* article styling */
.article-text {
  @apply pt-3;
}
.article-text p {
  @apply font-serif;
  font-size: 20px;
  line-height: 1.5;
}
.article-author {
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
  letter-spacing: 1px;
}
/* play icon */
.icon-play {
  cursor: pointer;
  background: none;
  border: none;
  padding: none;
}

@keyframes spin {
  to { transform: rotate(360deg); }
}

.stroke-dotted {
  opacity: 0;
  stroke-dasharray: 4,5;
  stroke-width: 1px;
  transform-origin: 50% 50%;
  animation: spin 8s infinite linear;
  transition: opacity 1s ease,
              stroke-width 1s ease;
}
.stroke-solid {
  stroke-dashoffset: 0;
  stroke-dashArray: 300;
  stroke-width: 4px;
  transition: stroke-dashoffset 1s ease,
              opacity 1s ease;
}

.icon {
  transform-origin: 50% 50%;
  transition: transform 200ms ease-out;
}

/* Hover */
.icon-play:hover > svg > .stroke-dotted {
  stroke-width: 4px;
  opacity: 1;
}

.icon-play:hover > svg > .stroke-solid {
  opacity: 0;
  stroke-dashoffset: 300;
}

.icon-play:hover > svg > .icon {
  transform: scale(1.05);
}
