:root {
  --lemon-meringue: #f1e7bd;
  --deep-space-sparkle: #476a6f;
  --hookers-green: #396f63;
  --sugar-plum: #885374;
  --rust: #b24115;
  --oxford-blue: #000037;
}

body {
  background-color: var(--deep-space-sparkle);
  color: var(--lemon-meringue);
}



.emoji {
  @apply mr-1;
}
.border-dev {
  @apply border-solid;
  @apply border;
  @apply border-blue-700;
}
