<p>Hello, welcome to The Zen Dev. My name is Melanie, and this is a guided meditation for anyone who builds things for the web.</p>

<p>First, I’m going to ask you to prepare yourself and take away as many distractions as you can. Mute your notifications. Put your phone on silence. Try to be as present as possible in this moment.</p>

<p>Take a moment and make sure that you are comfortable in whatever position you choose. You can participate in this meditation with your eyes open or closed, whatever feels comfortable to you.</p>

<p>Let’s start with some breathing. Breathe in, and breathe out.</p>

<p>Today there is a lot of fear in the world.</p>

<p>Fear can present itself in many forms- anxiety, panic, nervousness, anger, irritation, and the one we are all familiar with- imposter syndrome.</p>

<p>Let’s start by checking in on ourselves. Fear can have a physical effect, so let’s check in with how you’re feeling, both in your mind and in your body. Start with the top of your head, and scan down your body, checking to see how each part of you is feeling physically. Locate whatever it is you’re feeling – and remember, whatever you are feeling is fine. There is no judgement. It is not bad or good, it just is.</p>

<p>While we mentally scan each area of ourselves, let’s continue to inhale and exhale.</p>

<p>Did you find it? Whatever it you’re feeling right now, take a moment and give it a name. Picture the word in your mind. Now imagine that it is your link to others.</p>

<p>If you’re feeling anxious- feel the connection to everyone else that is feeling anxious right now. If you are feeling angry, feel the connection to everyone else that is feeling angry right now. If you are feeling like an imposter, feel the connection to everyone else who is also experiencing imposter syndrome.</p>

<p>Breathe this feeling in deeply, letting your breath expand inside of you. Breathe all the way to your heart. Then breathe it out, send feelings of compassion toward everyone else who is connected to you right now in your same feelings. As you breathe out, breathe out to relax. As you continue to breathe in deeply, all the way to your heart, gather in that empathy and compassion for yourself, for the suffering that you are feeling. As you breathe out, send that empathy and compassion to the ones that are feeling the same way you are, the ones you are now connected to. Breathe in again, gathering in compassion for your suffering. When you next breathe out, send empathy and compassion to those you know, those who are close.</p>

<p>Imagine that as you breathe in and out, you are expanding space- expanding the space inside yourself as you breathe in, expanding the compassion toward yourself and your suffering. As you breathe out, visualize expanding the space outside of yourself as you send empathy and compassion out farther across the globe.</p>

<p>As we are able to be compassionate to ourselves, we are then able to be compassionate toward others. That is why we focus on breathing in deeply and gathering into ourselves the empathy and compassion for our own suffering. Then when we breathe out, we extend that empathy and compassion to others.</p>

<p>You are enough.</p>

<p>In our final moments of practice, center yourself. Bring yourself back to your surroundings. If it feels right, put your hands over your heart for a moment. Send yourself a thank you for being here, and showing up.</p>

<p>Thank you for your practice. Until next time, I’m Melanie, and you can turn your notifications on again if you wish. Thanks for listening.</p>
