<nav>
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-center h-16">
        <div class="sm:ml-6 sm:flex sm:space-x-8">
          <a href="/" class="border-transparent text-yellow-100  hover:border-yellow-300 hover:text-yellow-300 inline-flex items-center px-1 pt-1 border-b-2 text-md font-medium">
            The Zen Dev
          </a>
          <a href="/articles" class="border-transparent text-yellow-100 hover:border-yellow-300 hover:text-yellow-300 inline-flex items-center px-1 pt-1 border-b-2 text-md font-medium">
            Articles
          </a>

        </div>
    </div>
  </div>
</nav>